<div class="header">
  <img src="assets/unleash-space.png" />

  <div class="option-list">
    <div
      [class]="'option ' + (state.tab == 'Training' ? 'active' : '')"
      (click)="switchTab('Training')"
    >
      Training
    </div>
    <div
      [class]="'option ' + (state.tab == 'Lookup' ? 'active' : '')"
      (click)="switchTab('Lookup')"
    >
      Lookup
    </div>
    <div
      [class]="'option ' + (state.tab == 'Certification' ? 'active' : '')"
      (click)="switchTab('Certification')"
    >
      Certification
    </div>
  </div>
</div>
