.banner {
  width: 100%;
  height: 5%;
  display: flex;
  top: 52px;
  position: fixed;
  align-items: center;
  transition: 0.5s ease;

  div {
    margin: auto;
    color: black;
  }

  &.error {
    background-color: #ff5353;
  }

  &.info {
    background-color: #53baff;
  }

  &.success {
    background-color: #53ffa9;
  }
}
