<div class="header">
  <img src="assets/unleash-space.png" />
</div>

<div class="container">
  <h1>Unleash Space event attendance</h1>

  <mat-form-field class="event-select" appearance="fill">
    <mat-label>Select an event</mat-label>
    <mat-select [(ngModel)]="selectedEvent">
      <mat-option *ngFor="let training of trainings" [value]="training">
        {{ training.date.time }} - {{ training.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="facilitator-select" appearance="fill" required>
    <mat-label>Select the facilitator</mat-label>

    <mat-select
      [(ngModel)]="selectedFacilitator"
      [required]="true"
      #name="ngModel"
    >
      <mat-option
        *ngFor="let facilitator of facilitators"
        [value]="facilitator"
        required
      >
        {{ facilitator }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="attendee-section" *ngIf="selectedEvent">
    <mat-divider></mat-divider>
    <h2 class="event-title">{{ selectedEvent.title }}</h2>

    <h2 class="section-title">Attendees</h2>

    <div class="attendee-data">
      <table cellspacing="0">
        <tr>
          <th>Name</th>
          <th>UPI</th>
          <th>ID</th>
          <th>Attended</th>
        </tr>
        <tr *ngFor="let attendee of selectedEvent.attendees">
          <td>
            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="Name"
                value="{{ attendee.name.firstName }} {{
                  attendee.name.lastName
                }}"
                pattern="[a-zA-Z ]*"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label *ngIf="name?.invalid" class="alert">INVALID</mat-label>
              <input
                matInput
                placeholder="UPI"
                [(ngModel)]="attendee.upi"
                pattern="^[a-zA-Z]{1,4}\d{3}$"
                [required]="true"
                #name="ngModel"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label *ngIf="name?.invalid" class="alert">INVALID</mat-label>
              <input
                matInput
                placeholder="ID"
                [(ngModel)]="attendee.id"
                pattern="^(\d{7}|\d{9})$"
                #name="ngModel"
                [required]="true"
              />
            </mat-form-field>
          </td>

          <td>
            <mat-checkbox [(ngModel)]="attendee.attending"></mat-checkbox>
          </td>
        </tr>
      </table>
    </div>

    <div class="button-row">
      <button mat-raised-button (click)="newAttendee()">New attendee</button>
      <button mat-raised-button color="primary" (click)="showConfirm = true">
        Submit
      </button>
    </div>
  </div>
</div>

<div *ngIf="showConfirm" class="modalContainer" (click)="showConfirm = false">
  <div class="confirmModal modal">
    <h2>Please confirm</h2>
    <ul>
      <li>UPIs and IDs are correct</li>
      <li>The Training is correct</li>
      <li [class]="selectedFacilitator ? '' : 'warning'">
        You are the facilitator
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="submitData()">
      Confirm
    </button>
  </div>
</div>

<div *ngIf="showError" class="modalContainer" (click)="showError = false">
  <div class="errorModal modal">
    <h2>AN ERROR OCCURRED</h2>
    <p>Please check the following things</p>
    <ul>
      <li>You have signed in with google</li>
      <li class="warning" *ngIf="!anyone_attending">
        At least one person is attending
      </li>
      <li>All the information you entered is correct</li>
    </ul>

    if you cannot resolve this enter the information into the master list
    manually
    <br />
    <br />

    <button mat-raised-button color="primary">Continue</button>
  </div>
</div>
