<app-header [(state)]="state"></app-header>

<app-trainings
  [(state)]="state"
  *ngIf="state.tab == 'Training'"
></app-trainings>

<app-certification
  [(state)]="state"
  *ngIf="state.tab == 'Certification'"
></app-certification>

<app-lookup [(state)]="state" *ngIf="state.tab == 'Lookup'"></app-lookup>

<div class="auth_logo false" *ngIf="!state.authenticated">
  <div>Please Log in</div>
</div>

<div class="bannerCont" #banner>
  <div>Success</div>
</div>

<div class="bannerCont error" #errorBanner>
  <div #errorText></div>
</div>

<app-banner [(state)]="state"></app-banner>
