<div class="header">
  <img src="assets/unleash-space.png" />
</div>

<div class="container">
  <h1>Unleash Space event attendance</h1>

  <mat-form-field class="event-select" appearance="fill">
    <mat-label>Select an event</mat-label>
    <mat-select [(ngModel)]="selectedEvent">
      <mat-option *ngFor="let training of trainings" [value]="training">
        {{ training.summary }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="facilitator-select" appearance="fill" required>
    <mat-label>Select the facilitator</mat-label>
    <mat-select [(ngModel)]="selectedFacilitator">
      <mat-option
        *ngFor="let facilitator of facilitators"
        [value]="facilitator"
      >
        {{ facilitator }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="attendee-section" *ngIf="selectedEvent">
    <mat-divider></mat-divider>
    <h2 class="event-title">{{ selectedEvent.summary }}</h2>

    <h2 class="section-title">Attendees</h2>

    <div class="attendee-data">
      <table cellspacing="0">
        <tr>
          <th>Name</th>
          <th>UPI</th>
          <th>ID</th>
          <th>Attended</th>
        </tr>
        <tr *ngFor="let attendee of selectedEvent.attendees">
          <td>
            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="Name"
                value="{{ attendee.name }}"
                pattern="[a-zA-Z ]*"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="UPI"
                value="{{ attendee.upi }}"
                pattern="^[a-zA-Z]{1,4}\d{3}$"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <input
                matInput
                placeholder="ID"
                value="{{ attendee.id }}"
                pattern="^(\d{7}|\d{9})$"
              />
            </mat-form-field>
          </td>

          <td>
            <mat-checkbox [(ngModel)]="attendee.attending"></mat-checkbox>
          </td>
        </tr>
      </table>
    </div>

    <div class="button-row">
      <button mat-raised-button (click)="newAttendee()">New attendee</button>
      <button mat-raised-button color="primary" (click)="submitData()">
        Submit
      </button>
    </div>
  </div>
</div>
