h1,
h2 {
  text-align: center;
}

button {
  margin: 10px;
  font-size: 1em;
  padding: 10px 30px;
}

button,
mat-form-field {
  width: 200px;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;

  h3 {
    text-align: center;
  }

  .list-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 90vh;
    flex-direction: column;

    .person-details {
      display: flex;
      flex-direction: column;
    }

    .trainings {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .venue-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 49%;
    }

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-top: 2px solid var(--primary);

      .name {
        text-align: right;
        width: 100px;
        border-right: 2px solid var(--primary);
        padding: 12px 20px;
      }

      .status {
        padding-left: 20px;
        display: flex;
        align-items: center;
        width: 100px;
        height: 60px;

        &:hover button {
          display: flex;
        }

        button {
          display: none;
          height: 30px;
          width: 50px;
          padding: 0;
          text-align: center;
          justify-content: center;
          align-content: center;
          align-items: center;
          font-size: smaller;
        }
      }
    }
  }

  .input-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 90vh;
  }
}
