<div class="page">
  <div class="input-panel">
      <mat-form-field appearance="fill">
        <mat-label>UPI |  ID</mat-label>
        <input matInput placeholder="UPI |  ID" [(ngModel)]="upi" (keyup)="softSubmit()"/>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="search()">Search</button>
    </div>

  <div class="list-container" *ngIf="member">
    <h1>{{ member.name }}</h1>
    <h2>Trainings</h2>
    <div *ngFor="let training of trainings" class="item">
      <div class="name">
        {{ training[0] }}
      </div>
      <div class="status">{{ training[1] ? "✅" : "❌" }}</div>
    </div>
  </div>
</div>
