
h1,
h2 {
  text-align: center;
}

button {
  margin: 10px;
  font-size: 1em;
  padding: 10px 30px;
}

button,
mat-form-field {
  width: 200px;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 90vh;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 2px solid var(--primary);

      &:last-child {
        border-bottom: none;
      }

      .name {
        text-align: right;
        width: 100px;
        border-right: 2px solid var(--primary);
        padding: 12px 20px;
      }

      .status {
        padding-left: 20px;
      }
    }
  }

  .input-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 90vh;
  }
}
