<div class="page">
  <div class="input-panel">
    <mat-form-field appearance="fill">
      <mat-label>UPI | ID</mat-label>
      <input
        matInput
        placeholder="UPI |  ID"
        [(ngModel)]="upi"
        (keyup)="softSubmit()"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Search</button>
  </div>

  <div class="list-container" *ngIf="member" @createDestroy>
    <div class="person-details">
      <h1>{{ member.firstName }} {{ member.lastName }}</h1>
      <h3>{{ member.email }}</h3>
    </div>

    <div class="trainings">
      <div class="venue-col">
        <h2>Maker Space</h2>
        <div *ngFor="let training of trainings">
          <div *ngIf="training.venue == 'maker-space'" class="item">
            <div class="name">
              {{ training.name }}
            </div>
            <div class="status">
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="training.complete"
                [disabled]="true"
              >
              </mat-checkbox>
              <button
                *ngIf="!training.complete"
                mat-raised-button
                color="primary"
                (click)="openDialog(training.name)"
              >
                Train
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="venue-col">
        <h2>Tech Hub</h2>
        <div *ngFor="let training of trainings">
          <div *ngIf="training.venue == 'tech-hub'" class="item">
            <div class="name">
              {{ training.name }}
            </div>
            <div class="status">
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="training.complete"
                [disabled]="true"
              >
              </mat-checkbox>
              <button
                *ngIf="!training.complete"
                mat-raised-button
                color="primary"
                (click)="openDialog(training.name)"
              >
                Train
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
